/*-------icon menu------------*/

.icon-bar {
    width: 4.3vm;
    /* Set a specific width */
    position: fixed;
    top: 8vw;
    background-color: rgba(0, 0, 0, 0.521);
    /* Dark-grey background */
}

.icon-bar a {
    display: block;
    /* Make the links appear below each other instead of side-by-side */
    text-align: center;
    /* Center-align text */
    padding: 0.8vw;
    /* Add some padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 2.8vw;
    /* Increased font-size */
}

.icon-bar a:hover {
    background-color: white;
    /* Add a hover color */
    color: black;
}


/*-------icon menu------------*/


/* Navigation Bar */


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

#nav_nav{
    font-size: "2.2vw";
    padding-top: 0.61vw;
}
.flip-box {
    background-color: transparent;
    width: 17vw;
    height: 3vw;
    border: 0.1vw solid #f1f1f1;
    perspective: 50vw;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    background-color: transparent;
    color: whitesmoke;
}


/* Style the back side */

.flip-box-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
}

#mainNav {
    font-family: Aldrich;
    font-size: 1.2vw;
    font-weight:bolder;
    font-variant: small-caps;
}

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: rgba(29, 20, 20, 0.425);
    padding-top: 1vm;
    padding-bottom: 1vm;
}

.navbar-b:hover {
    opacity: 1;
}

.navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 0.6vw;
    padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 0.1vw;
    transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 2.78vw;
}

.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 2.78vw;
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: #fff;
    /* color: #1B1B1B; */
}

.navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
}

.navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #fff;
}

.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
}

.navbar-b.navbar-reduce .nav-link {
    color: rgb(235, 110, 8);
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: rgb(235, 110, 8);
}

.navbar-b.navbar-reduce .nav-link:hover {
    color: rgb(235, 110, 8);
}

.navbar-b.navbar-reduce .show>.nav-link,
.navbar-b.navbar-reduce .active>.nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
    color: rgb(235, 110, 8);
}

.navbar-b.navbar-reduce .navbar-brand {
    color: rgb(235, 110, 8);
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar-toggler {
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 0.4vw;
    width: 1.27vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 0.7vw;
    top: 0.6vw;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 0.8vw;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 0.8vw;
    top: 0.6vw;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-skill {
    opacity: 0.4;
}


/*--------------nav-------------------*/


/*------------------------home------------------------*/

.intro {
    width: 40.6vw;
    margin: 0 auto;
    font-family: Allerta;
    font-size: 4vw;
    /* font-weight:bolder; */
    color: ghostwhite;
    margin-top: 4vw;
    border-right: 2px solid rgba(204, 204, 204, 0.589);
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    transform: translateY(-50%);
}

.intro1 {
    width: 40.6vw;
    margin: 0 auto;
    font-family: Allerta;
    font-size: 4vw;
    /* font-weight:bolder; */
    color: ghostwhite;
    margin-top: 14vw;
    /* border-right: 0.1vw solid rgba(204, 204, 204, 0.589); */
    white-space: nowrap;
    text-align: center;
}

.animation-typewriter {
    animation: typewriter 4s steps(30) 1s 1 normal both, blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width:40.6vw;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(204, 204, 204, 0.589);
    }
    to {
        border-right-color: transparent;
    }
}


/*------------------------home------------------------*/


/*------------------------about me------------------------*/


/* .aboutme {
    padding-top: 2vw;
    padding-bottom: 2vw;
} */

#ll {
    padding-bottom: 1vw;
    color: azure;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

#introduction_about_me {
    font-size: 2vw;
    font-family: Aldrich;
    font-style: normal;
    padding-top: 2vw;
    padding-bottom: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    color: blanchedalmond;
    /* border-left: 6px solid rgb(19, 60, 110);*/
   background-color: rgba(211, 211, 211, 0.068); 
}

.row>.column {
    padding: 2 3vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create four equal columns that floats next to eachother */

.column {
    /* float: left; */
    padding-left: 2vw;
    padding-right: 1vw;
    width: 33%;
}

#text_pic {
    bottom: 4vw;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    font-size: 3vw;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 40vw;
}


/* The Close Button */

.close {
    color: black;
    background-color: white;
    position: absolute;
    /* top: 0.6vw; */
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
    right: 2.5vw;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


/* Hide the slides by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.2vw;
    margin-top: -2.5vw;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2vw;
    transition: 0.6s ease;
    border-radius: 0 0.2vw 0.2vw 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 1vw 0 0 1vw;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: steelblue;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 2.5vw;
    padding: 2vw 2.5vw;
    position: absolute;
    top: 0;
}


/* Caption text */

.caption-container {
    text-align: center;
    background-color: black;
    padding: 1vw 2.5vw;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 0.2px 1vwpx rgba(0, 0, 0, 0.2), 0 0.4vw 1.2vw 0 rgba(0, 0, 0, 0.19);
}


/*------------------------about me------------------------*/


/*-----------------------Skills----------------------*/

.skills {
    align-items: center;
    padding-left: 10vw;
}

#skills-heading {
    padding-top: 2vw;
    padding-bottom: 3vw;
    color: azure;
    font-weight: bolder;
    font-size: 3vw;
    text-align: center;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    width: 10vw;
    height: 10vw;
    /* border: 2px solid #f1f1f1; */
    perspective: 1000px;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    /* background-color: #bbb; */
    color: black;
}


/* Style the back side */

.flip-card-back {
    text-align: center;
    padding-top: 43%;
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}

#ll-about_me {
    padding-bottom: 1vw;
    color: azure;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

#ll-about_me1 {
    padding-bottom: 1vw;
    color: azure;
    font-size: 3.5vw;
    text-align: center;
}


/*-----------------------Skills----------------------*/


/*-------------------Projects-----------------------*/

.proj_heading {
    color: beige;
    font-size: 4.3vw;
    text-align: center;
    font-weight: bolder;
}

.bottom1 {
    background-color: rgba(255, 187, 0, 0.507);
    color: maroon;
    font-family: sans-serif;
    font-size: 3.9vw;
}

.bottom2 {
    background-color: rgba(30, 255, 0, 0.144);
    color: rgba(255, 248, 220, 0.452);
    font-family: sans-serif;
    font-size: 3.9vw;
}

.bottom3 {
    background-color: rgba(0, 0, 255, 0.062);
    color: cornsilk;
    font-family: sans-serif;
    font-size: 3.9vw;
}

footer {
    text-align: center;
    background-color: rgba(0, 24, 238, 0.993);
    color: snow;
    font-size: 2vw;
}


/*-------------------Projects-----------------------*/