body {
    color: dimgrey;
    font-family: Allerta;
}


/*-------icon menu------------*/

.icon-bar {
    width: 4.3vm;
    position: fixed;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.521);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 0.8vw;
    transition: all 0.3s ease;
    color: white;
    font-size: 2.8vw;
}

.icon-bar a:hover {
    background-color: white;
    color: black;
}

/* Navigation Bar */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

#nav_nav {
    font-size: "2.2vw";
    padding-top: 0.61vw;
}

.flip-box {
    background-color: transparent;
    width: 17vw;
    height: 3vw;
    border: 0.1vw solid #f1f1f1;
    perspective: 50vw;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    background-color: transparent;
    color: whitesmoke;
}


/* Style the back side */

.flip-box-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
}

#mainNav {
    font-size: 1.2vw;
    font-weight: bolder;
    font-variant: small-caps;
}

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: rgba(29, 20, 20, 0.425);
    padding-top: 1vm;
    padding-bottom: 1vm;
}


/* home  */
.intro {
    width: 30vw;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bolder;
    color: ghostwhite;
    margin-top: 4vw;
    border-right: 2px solid rgba(204, 204, 204, 0.589);
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    transform: translateY(-50%);
}

.intro1 {
    width: 40.6vw;
    margin: 0 auto;
    font-family: Allerta;
    font-size: 2.2vw;
    color: aliceblue;
    margin-top: 14vw;
    white-space: nowrap;
    text-align: center;
}

.animation-typewriter {
    animation: typewriter 4s steps(30) 1s 1 normal both, blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 30.5vw;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(204, 204, 204, 0.589);
    }

    to {
        border-right-color: transparent;
    }
}



/* about me  */
.about_me1 {
    background-color: grey;
    background-attachment: fixed;
    padding-bottom: 5vw;
}

.img-container {
    text-align: center;
}

#ll {
    padding-top: 3vw;
    padding-bottom: 3vw;
    color: azure;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

#introduction_about_me {
    font-size: 2vw;
    font-family: Aldrich;
    font-style: normal;
    padding-top: 2vw;
    padding-bottom: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    color: black;
    background-color: white;
}

/* project */
.proje_txt {
    color: white;
    font-family: Allerta;
    font-weight: bold;
    font-size: 2vw;

}

.carousel {
    margin-bottom: 20vw;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 5vw;
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32vw;
}

.carousel-item>img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    /* height: 32rem; */
}

.proj_heading {
    color: beige;
    font-size: 4.3vw;
    text-align: center;
    font-weight: bolder;
}

.button1 {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.548);
}


/* skills  */
#my-skills-nav {
    padding-bottom: 4vw;
}

#ll1 {
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: black;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* contacts  */
.icon-row {
    width: 100%;
    /* Full-width */
    background-color: #555;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
}

.icon-row a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 20%;
    /* Equal width (5 icons with 20% width each = 100%) */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 2vw;
    /* Increased font size */
}

.icon-row a:hover {
    background-color: #000;
    /* Add a hover color */
}

#zx-mm {
    padding-left: 5vw;
    padding-right: 5vw;

    color: black;
    font-size: 2vw;
    background-color: rgba(47, 79, 79, 0.452);
}

#ll2 {
    padding-bottom: vw;
    padding-top: 5vw;
    color: black;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

/* footer  */
footer {
    text-align: center;
    font-size: 2vw;
    color: white;
  }