body {
    color: dimgrey;
    font-family: Allerta;
}


/*-------icon menu------------*/

.icon-bar {
    width: 4.3vm;
    position: fixed;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.521);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 0.8vw;
    transition: all 0.3s ease;
    color: white;
    font-size: 2.8vw;
}

.icon-bar a:hover {
    background-color: white;
    color: black;
}

/* Navigation Bar */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

#nav_nav {
    font-size: "2.2vw";
    padding-top: 0.61vw;
}

.flip-box {
    background-color: transparent;
    width: 17vw;
    height: 3vw;
    border: 0.1vw solid #f1f1f1;
    perspective: 50vw;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    background-color: transparent;
    color: whitesmoke;
}


/* Style the back side */

.flip-box-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
}

#mainNav {
    font-size: 1.2vw;
    font-weight: bolder;
    font-variant: small-caps;
}

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: rgba(29, 20, 20, 0.425);
    padding-top: 1vm;
    padding-bottom: 1vm;
}


/* home  */

.home {
    background-image: url("../images/J4o.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
}

.intro1 {
    font-size: 3vw;
    width: 40.6vw;
    margin: 0 auto;
    font-family: Aldrich;
    color: aliceblue;
    margin-top: 14vw;
    white-space: nowrap;
    text-align: center;
    padding-top: 2vw;
}

.intro1>div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}


.intro1>div:last-of-type span {
    font-size: 3vw;
    color: #ffffff;
    animation: slide 6s;
}


@keyframes slide {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}


.intro1>h1>a {
    text-decoration: none;
    color: white;
}

/* about me  */
#ll {
    padding-top: 3vw;
    padding-bottom: 3vw;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

.about_me1 {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    padding-bottom: 1vw;
}

.img-container {
    text-align: center;
}

.about_me {
    display: flex;
    flex-direction: row;
}

#introduction_about_me {
    font-size: 2vw;
    font-family: Aldrich;
    font-style: normal;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    color: black;
    background-image: linear-gradient(140deg, #eadedbd8 0%, #689cb1c5 50%, #1a59a1bd 75%);
}

#introduction_about_me:hover{
    background-image: linear-gradient(140deg, #eadedbd8 0%, #689cb19f 50%, #1a59a146 75%);
}
.heading-primary-main {
    display: block;
    animation-name: moveInleft;
    animation-duration: 3s;
}

.heading-primary-sub {
    display: block;
    animation-name: moveInRight;
    animation-duration: 3s;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}


/* skills  */
.bg_color {
    background-image: linear-gradient(140deg, #eadedbd8 0%, #689cb1c5 50%, #1a59a1bd 75%);
}

.bg_color:hover {
    background-image: linear-gradient(140deg, #eadedbd8 0%, #689cb19f 50%, #1a59a146 75%);
}


#my-skills-nav {
    padding-bottom: 5vw;
    padding-top: 5vw;
}

#ll1 {
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: black;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Non technical skills  */
#non-technical-interest {
    padding-bottom: 5vw;
    padding-top: 5vw;
}

/* project */
.proje_txt {
    color: white;
    font-family: Allerta;
    font-weight: bold;
    font-size: 2vw;

}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 5vw;
    z-index: 10;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.726);
}

/* Declare heights because of positioning of img element */

.carousel-item>img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.proj_heading {
    color: beige;
    font-size: 4.3vw;
    text-align: center;
    font-weight: bolder;
}

/* contacts  */
.icon-row {
    width: 100%;
    /* Full-width */
    background-color: #555;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
}

.icon-row a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 20%;
    /* Equal width (5 icons with 20% width each = 100%) */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 2vw;
    /* Increased font size */
}

.icon-row a:hover {
    background-color: #000;
    /* Add a hover color */
}

#zx-mm {
    padding-left: 5vw;
    padding-right: 5vw;

    color: black;
    font-size: 2vw;
    background-color: rgba(47, 79, 79, 0.452);
}

.contact_layout{
    display: flex;
    flex-direction: row;
}
#ll2 {
    padding-bottom: vw;
    padding-top: 5vw;
    color: black;
    font-weight: bolder;
    font-size: 3.5vw;
    text-align: center;
}

/* footer  */
footer {
    text-align: center;
    font-size: 2vw;
    color: white;
}

/* scroll to top button  */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0, 20, 107);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}



